<h1>Prueba Técnica Innteva</h1>
<br/>
<b>Github:</b>
<br/><br/>
<a>Proyecto</a>
<br/><br/>
<p>1) Servicio que permita la creación de un nuevo usuario donde se vincule a un rol y al menos un permiso.</p>
<span>URL + /routes/newuser</span>
<p>2) Servicio que liste todos los usuarios existentes.</p>
<span>URL + /routes/allusers</span>
<p>3) Servicio que liste todos los usuarios que pertenezcan a un rol determinado, por ejemplo obtención del listado de los usuarios que sean operadores.</p>
<span>URL + /routes/usersrole</span>
<p>4) Servicio que permita listar los usuarios que cuenten con algún permiso en particular, ejemplo los usuarios que tengan el permiso 'Activar'.</p>
<span>URL + /routes/userspermissions</span>
<p>5) Servicio que permita listar a todos aquellos usuarios activos.</p>
<span>URL + /routes/usersactives</span>
<p>6) Servicio que permita listar a todos aquellos usuarios inactivos.</p>
<span>URL + /routes/usersinactives</span>
<p>7) Servicio que permita la actualización de un usuario.</p>
<span>URL + /routes/userupdate/5d60ed19883d235a6219d249</span>
<p>8) Servicio que permita visualizar la información de un usuario dado su identificador. </p>
<span>URL + /routes/user/5d60ed19883d235a6219d249</span>
<p>9) Servicio que permita la eliminación de un usuario. </p>
<span>URL + /routes/userdelete/5d60ec95883d235a6219d245</span>

